{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"no-console": 0,
		"no-unused-vars": 0,
		"no-duplicate-imports": 2,
		"@typescript-eslint/no-unused-vars": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"newline-before-return": 2
	}
}
